body
{
    background-color: #def4c6 !important;
}

.title_text
{
    font-family: "Fascinate Inline", system-ui;
    color: #1c7c54 !important;
    font-size: 70px !important;
}

.navbar
{
    background-color: #73e2a7;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

#game_cards
{
    padding-top: 80px;
    margin: 0 auto; /* Center the game cards section */
    text-align: center;
}

.card-title {
    font-family: "Open Sans", sans-serif;
}


/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
